<div class="row">
	<div class="col-12">
	<h4 class="card-title">Add Category</h4>
		<div class="card">
			<div class="card-body">
				<div class="col-md-6 col-lg-offset-3 ">
					<form method="post" action="/techbooks/admin/categories">
					  <div class="form-group">
						<label for="name">Names</label>
						<input type="text" class="form-control" id="name" name="name" placeholder="Name">
					  </div>
					   <input type="hidden" name="_csrf" value="{{_csrf}}">
					  <button type="submit" class="btn btn-primary">Submit</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>