<h1></h1>
<ul class="errors">
</ul>
<form method="post" action="/categories/add">
  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" name="name" type="text"/>
  </div>
  <input class="btn btn-default" name="submit" type="submit" value="Save"/>
</form>