<!DOCTYPE html>
<html>
  <head>
	<title>Labs - Design Studio</title>
	<meta charset="UTF-8">
	<meta name="description" content="Labs - Design Studio">
	<meta name="keywords" content="lab, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/css/flaticon.css"/>
	<link rel="stylesheet" href="/css/magnific-popup.css"/>
	<link rel="stylesheet" href="/css/owl.carousel.css"/>
	<link rel="stylesheet" href="/css/style.css"/>
    <link rel="style" href="https://cdn.myntassets.com/web/assets/css/main.4d555def12281bd680af.css.gz">

	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
  </head>
  <body>
     
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader">
			<img src="img/logo.png" alt="">
			<h2>Loading.....</h2>
		</div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<div class="logo">
			<img src="img/logo.png" alt=""><!-- Logo -->
		</div>
		<!-- Navigation -->
		<div class="responsive"><i class="fa fa-bars"></i></div>
		<nav>
			<ul class="menu-list">
				<li {{#ifCond tab '===' "/"}} class="active"  {{/ifCond}}><a  href="/">Home</a></li>
				<li {{#ifCond tab '===' "/services"}} class="active"  {{/ifCond}}><a href="services">Services</a></li>
				<li {{#ifCond tab '===' "/blog"}} class="active"  {{/ifCond}}><a href="blog">Blog</a></li>
				<li {{#ifCond tab '===' "/contact"}} class="active"  {{/ifCond}} ><a href="contact">Contact</a></li>
				<li {{#ifCond tab '===' "/techbooks"}} class="active"  {{/ifCond}} ><a href="techbooks">techbooks</a></li>
			</ul>
		</nav>
		<div class="desktop-actions" data-reactid="516"><div class="desktop-user" data-reactid="517"><div class="desktop-userIconsContainer" data-reactid="518"><span class="myntraweb-sprite desktop-iconUser sprites-user" data-reactid="519"></span><span class="myntraweb-sprite desktop-caret sprites-caret" data-reactid="520"></span></div><div class="desktop-userActions" data-reactid="521"><div class="desktop-userActionsArrow" data-reactid="522"></div><div class="desktop-userActionsContent" data-reactid="523"><div class="desktop-contentInfo" data-reactid="524"><a href="" data-track="edit_profile" class="desktop-uaProfileLink" data-reactid="525"><div class="desktop-infoTitle" data-reactid="526">Your Account</div><div class="desktop-infoEmail" data-reactid="527">Access account and manage orders</div></a></div><div class="desktop-getUserInLinks desktop-getInLinks" data-reactid="528"><a href="/register?referer=https://www.myntra.com/" data-track="signup" class="desktop-linkButton" data-reactid="529">Sign up</a><a href="/login?referer=https://www.myntra.com/" data-track="login" class="desktop-linkButton" data-reactid="530">login</a></div></div></div></div><a href="/checkout/cart" class="desktop-cart" data-reactid="531"><span class="myntraweb-sprite desktop-iconBag sprites-bag" data-reactid="532"></span><span class="desktop-badge 
                    desktop-grey" data-reactid="533">0</span></a></div>
	</header>
	<!-- Header section end -->
    {{{body}}}
	<!-- Contact section end-->


	<!-- Footer section -->
	<footer class="footer-section">
		<h2>2017 All rights reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></h2>
	</footer>
	<!-- Footer section end -->




	<!--====== Javascripts & Jquery ======-->
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/magnific-popup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/circle-progress.min.js"></script>
	<script src="/js/main.js"></script>
  </body>
</html>
