
<style>
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}
.form-label-group{
padding:5px;
}
.form-label-group label{
padding:5px;
margin:2px;
}


    </style>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        window.alert = function(){};
        var defaultCSS = document.getElementById('bootstrap-css');
        function changeCSS(css){
            if(css) $('head > link').filter(':first').replaceWith('<link rel="stylesheet" href="'+ css +'" type="text/css" />'); 
            else $('head > link').filter(':first').replaceWith(defaultCSS); 
        }
        $( document ).ready(function() {
          var iframe_height = parseInt($('html').height()); 
          window.parent.postMessage( iframe_height, 'https://bootsnipp.com');
        });
    </script>
</head>
<body>

<div class="container" id="container" style="margin-top:150px">
           
		
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js"></script>

<script type="text/javascript">

class Image extends React.Component {
    constructor(props) {
    super(props);
	}
    render(){ return React.createElement("div", {className:"Image"},React.createElement("img",{"src":"/img/user/"+this.props.src})); }
}
class ProfileForm extends React.Component{
 constructor(props) {
    super(props);
	}
  render(){
	          return React.createElement('form', {className: 'ContactForm'},
              React.createElement("div", {className:"form-label-group"},
			  React.createElement("label",{for:"inputUserame"},"Username"),
			  React.createElement("input",{ type:"text", id:"inputUserame",name:"name",className:"form-control" ,placeholder:"Username" ,required:true, value:this.props.user.name}),),
              React.createElement("div", {className:"form-label-group"},
			  React.createElement("label",{for:"inputEmail"},"Email address"),
			  React.createElement("input",{ type:"text", id:"inputEmail", name:"inputEmail", className:"form-control", placeholder:"Username", required:true,value:this.props.user.email}),),);

              
  }
}
class Profile extends React.Component {
   constructor(props) {
    super(props);
	var obj = {{encodeMyString user}};

    this.state = { user: obj, text: '' };
    
  }
  render() {
 
 return React.createElement("div", {className:"row profile"},React.createElement("div",{className:"col-md-3"},React.createElement("div",{className:"profile-sidebar"},
			React.createElement("div",{className:"profile-userpic"},
			React.createElement("img",{src:"/img/user/"+this.state.user.img,className:"img-responsive"}),),
			React.createElement("div",{className:"profile-usertitle"},React.createElement("div",{className:"profile-usertitle-name"},this.state.user.name),
			React.createElement("div",{className:"profile-usertitle-name"},"Developer"),),
			React.createElement("div",{className:"profile-userbuttons"},React.createElement("button",{className:"btn btn-success btn-sm"},"Follow"),
			React.createElement("button",{className:"btn btn-danger btn-sm"},"Message")),	
		    React.createElement("div",{className:"profile-usermenu"},React.createElement("ul",{className:"nav"},React.createElement("li",{className:"active"},React.createElement("a",{href:"#"},React.createElement("i",{className:"glyphicon glyphicon-user"}),"Overview")),
			React.createElement("li",null,React.createElement("a",{href:"#"},React.createElement("i",{className:"glyphicon glyphicon-user"}),"Account Settings ")),
			React.createElement("li",null,React.createElement("a",{href:"#"},React.createElement("i",{className:"glyphicon glyphicon-ok"}),"Tasks ")))))),
			React.createElement("div",{className:"col-md-9"},React.createElement("div",{className:"profile-content"},React.createElement(ProfileForm,{user:this.state.user}))));

	}
}
ReactDOM.render(React.createElement(Profile, null), document.getElementById('container'));
</script>

